.ages{
  margin-bottom: 20px;
}
.units {
  padding: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -260px;
  width: 1000px;
  height: 600px;
  border: 1px solid #d3b996;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}
.costs{
  width: 100%;
  display: flex;
  align-items: center;
}
.MuiSlider-colorPrimary{
  margin: 0 30px;
}
.cost-labels{
  width: 50px;
}
.cost-spans{
  width: 25px;
}
@media screen and (max-width:1200px){
  .units{
    width: 750px;
    margin-left: -375px;
  }
}
@media screen and (max-width:768px){
  .units{
    padding: 20px;
    width: 500px;
    margin-left: -250px;
  }
}
@media screen and (max-width:480px){
  .ages{
    display: flex;
    justify-content: center;
  }
  .cost-labels{
    width: 75px;
  }
  .MuiToggleButton-root{
    padding: 8px !important;
  }
  .units{
    padding: 10px;
    width: 350px;
    margin-left: -175px;
  }
}

