header {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #d3b996;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 220px;
  height: 80px;
  a{
    height: 100%;
  }
}
.image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    padding: 15px 15px 15px 0;
    height: 100%;
  }
}
.units-button{
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #d3b996;
  outline: none;
  background-color: black;
  color: #d3b996;
  font-weight: 700;
  &:hover{
    background-color: #2b2928;
    transition: 500ms;
  }
}
@media screen and (max-width:1440px){
  nav{
    margin: 0 120px;
  }
}
@media screen and (max-width:1200px){
  nav{
    margin: 0 60px;
  }
}
@media screen and (max-width:768px){
  nav{
    height: 60px;
    margin: 0 30px; 
  }
}
@media screen and (max-width:480px){
  nav{
    margin: 0 10px;
  }
}

